body {
    margin: 0;
    padding: 0;
    font-family: D-DIN-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/Euclid_outsidetowerh_IMG_2487_desktop_a75e89406d.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  header {
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  header img {
    width: 150px;
    height: auto;
    margin-right: 10px;
  }
  
  nav {
    flex-grow: 1;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  
  main {
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 20px;
    color: #777;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .about h2,
  .features h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .feature {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .feature img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #979797;
    margin: 0 auto;
    font: 12px/18px D-DIN-Bold,Arial,Verdana,sans-serif;
    background-color: #000;
}

footer > button {
    border: none;
    color: #fff;
    background-color: #000;
    font-weight: 400;
    margin: 0 20px;
    font: 12px/24px D-DIN-Bold,Arial,Verdana,sans-serif;
}
